# How to check if a PyTorch installation is present and working

## Reference Use Case 
Common

## Problem statement 
In order for the tools and models that are developed using the PyTorch framework to work properly, it is necessary to ensure that PyTorch is installed and running.

##  Envisaged impact
Errors and exceptions during use when PyTorch is not installed.

## Affected component of FAIRiCUBE-Hub
FAIRiCUBE Lab (Storage, CPU, RAM and Network) 

## Proposed solution
[How to check if a PyTorch installation is present and working is explained at this link](https://github.com/FAIRiCUBE/common-code/tree/main/pytorch-verification). 

## Expected benefits
Getting PyTorch to work the right way.